In [5]:
import numpy as np
import pandas as pd

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [9]:


df = pd.read_csv("/content/drive/MyDrive/dataset/DataSet_Animal_Center_Intakes.csv")

print("Shape of the dataset:", df.shape)

columns_with_null = df.columns[ df.isnull().any()]
print("Columns with null values:", columns_with_null)

df.drop_duplicates(inplace=True)

df.rename(columns={
    'Animal ID': 'id',
    'DateTime': 'date_time',
    'MonthYear': 'month_year',
    'Found Location': 'found_location',
    'Intake Type': 'intake_type',
    'Intake Condition': 'intake_condition',
    'Animal Type': 'animal_type',
    'Sex upon Intake': 'sex_upon_intake',
    'Age upon Intake': 'age_upon_intake',
    'Breed': 'breed'
}, inplace=True)

df.drop(columns=['month_year'], inplace=True)

df['month'] = pd.to_datetime(df['date_time']).dt.month
df['year'] = pd.to_datetime(df['date_time']).dt.year

yearly_intake = df.groupby('year')['id'].count()
print("Year-wise Animal Intake (2014 to 2021):")
print(yearly_intake)

monthly_intake = df.groupby('month')['id'].count()
print("Month-wise Animal Intake:")
print(monthly_intake)

intake_methods_count = df['intake_type'].value_counts()
print("Animal Intake Methods Count:")
print(intake_methods_count)

animal_conditions = df['intake_condition'].unique()
print("Conditions of animals taken into the shelter:")
print(animal_conditions)

animal_types_count = df['animal_type'].value_counts()
print("Types of animals taken into the shelter:")
print(animal_types_count)

top_10_breeds = df['breed'].value_counts().head(10)
print("Top 10 Breeds in Animal Shelter:")
print(top_10_breeds)

top_20_names = df['Name'].value_counts().head(20)
print("Top 20 Common Names of Animals in Animal Shelter:")
print(top_20_names)

df_outcomes = pd.read_csv("/content/drive/MyDrive/dataset/DataSet_Animal_Center_Intakes.csv")

if 'Outcome Type' in df_outcomes:
    outcome_types_count = df_outcomes['Outcome Type'].value_counts()
    print("Outcome Type-wise Count of Animals:")
    print(outcome_types_count)
else:
    print("Outcome Type data not available.")

Shape of the dataset: (124120, 12)
Columns with null values: Index(['Name', 'Sex upon Intake'], dtype='object')
Year-wise Animal Intake (2014 to 2021):
year
2013     4182
2014    18654
2015    18709
2016    17673
2017    17559
2018    16975
2019    19726
2020     9585
2021     1038
Name: id, dtype: int64
Month-wise Animal Intake:
month
1      9046
2      8413
3      9399
4      9440
5     12335
6     12103
7     10983
8     10601
9     10842
10    11849
11     9977
12     9113
Name: id, dtype: int64
Animal Intake Methods Count:
Stray                 86448
Owner Surrender       24600
Public Assist          7618
Wildlife               4895
Abandoned               283
Euthanasia Request      257
Name: intake_type, dtype: int64
Conditions of animals taken into the shelter:
['Normal' 'Sick' 'Injured' 'Nursing' 'Aged' 'Other' 'Feral' 'Medical'
 'Pregnant' 'Behavior']
Types of animals taken into the shelter:
Dog          70438
Cat          46448
Other         6607
Bird           586
Livestock       22
Name: animal_type, dtype: int64
Top 10 Breeds in Animal Shelter:
Domestic Shorthair Mix       30978
Pit Bull Mix                  8406
Domestic Shorthair            7006
Labrador Retriever Mix        6861
Chihuahua Shorthair Mix       6237
Domestic Medium Hair Mix      3115
German Shepherd Mix           3003
Bat Mix                       1755
Domestic Longhair Mix         1540
Australian Cattle Dog Mix     1511
Name: breed, dtype: int64
Top 20 Common Names of Animals in Animal Shelter:
Max         564
Bella       523
Luna        494
Rocky       383
Daisy       365
Princess    331
Charlie     326
Coco        324
Buddy       320
Lucy        312
Blue        304
Lola        270
Zeus        227
Oreo        205
Shadow      204
Cookie      204
Jack        203
Bear        202
Sadie       202
Lucky       200
Name: Name, dtype: int64
Outcome Type data not available.

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("/content/drive/MyDrive/dataset/DataSet_Animal_Center_Intakes.csv")

print("Shape of the dataset:", df.shape)

columns_with_null = df.columns[df.isnull().any()]
print("Columns with null values:", columns_with_null)

df.drop_duplicates(inplace=True)

df.rename(columns={
    'Animal ID': 'id',
    'DateTime': 'date_time',
    'MonthYear': 'month_year',
    'Found Location': 'found_location',
    'Intake Type': 'intake_type',
    'Intake Condition': 'intake_condition',
    'Animal Type': 'animal_type',
    'Sex upon Intake': 'sex_upon_intake',
    'Age upon Intake': 'age_upon_intake',
    'Breed': 'breed'
}, inplace=True)

df.drop(columns=['month_year'], inplace=True)

df['month'] = pd.to_datetime(df['date_time']).dt.month
df['year'] = pd.to_datetime(df['date_time']).dt.year

yearly_intake = df.groupby('year')['id'].count()
print("Year-wise Animal Intake (2014 to 2021):")
print(yearly_intake)

monthly_intake = df.groupby('month')['id'].count()
print("Month-wise Animal Intake:")
print(monthly_intake)

intake_methods_count = df['intake_type'].value_counts()
print("Animal Intake Methods Count:")
print(intake_methods_count)

animal_conditions = df['intake_condition'].unique()
print("Conditions of animals taken into the shelter:")
print(animal_conditions)

animal_types_count = df['animal_type'].value_counts()
print("Types of animals taken into the shelter:")
print(animal_types_count)

top_10_breeds = df['breed'].value_counts().head(10)
print("Top 10 Breeds in Animal Shelter:")
print(top_10_breeds)

top_20_names = df['Name'].value_counts().head(20)
print("Top 20 Common Names of Animals in Animal Shelter:")
print(top_20_names)

df = pd.read_csv("/content/drive/MyDrive/dataset/DataSet_Animal_Center_Outcomes.csv")

Shape of the dataset: (124120, 12)
Columns with null values: Index(['Name', 'Sex upon Intake'], dtype='object')
Year-wise Animal Intake (2014 to 2021):
year
2013     4182
2014    18654
2015    18709
2016    17673
2017    17559
2018    16975
2019    19726
2020     9585
2021     1038
Name: id, dtype: int64
Month-wise Animal Intake:
month
1      9046
2      8413
3      9399
4      9440
5     12335
6     12103
7     10983
8     10601
9     10842
10    11849
11     9977
12     9113
Name: id, dtype: int64
Animal Intake Methods Count:
Stray                 86448
Owner Surrender       24600
Public Assist          7618
Wildlife               4895
Abandoned               283
Euthanasia Request      257
Name: intake_type, dtype: int64
Conditions of animals taken into the shelter:
['Normal' 'Sick' 'Injured' 'Nursing' 'Aged' 'Other' 'Feral' 'Medical'
 'Pregnant' 'Behavior']
Types of animals taken into the shelter:
Dog          70438
Cat          46448
Other         6607
Bird           586
Livestock       22
Name: animal_type, dtype: int64
Top 10 Breeds in Animal Shelter:
Domestic Shorthair Mix       30978
Pit Bull Mix                  8406
Domestic Shorthair            7006
Labrador Retriever Mix        6861
Chihuahua Shorthair Mix       6237
Domestic Medium Hair Mix      3115
German Shepherd Mix           3003
Bat Mix                       1755
Domestic Longhair Mix         1540
Australian Cattle Dog Mix     1511
Name: breed, dtype: int64
Top 20 Common Names of Animals in Animal Shelter:
Max         564
Bella       523
Luna        494
Rocky       383
Daisy       365
Princess    331
Charlie     326
Coco        324
Buddy       320
Lucy        312
Blue        304
Lola        270
Zeus        227
Oreo        205
Shadow      204
Cookie      204
Jack        203
Bear        202
Sadie       202
Lucky       200
Name: Name, dtype: int64